<!DOCTYPE html>
<html>
  <head>
    <title>Mporium</title>
    <link rel="icon" href="favicon.ico" type="image/png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="dash">

    <%= yield %>

  </body>
</html>