<nav id="nav-header" class="text-left">
	<div id="logo" class="text-left">
		<%= image_tag "M_White_Thick.jpg", style: 'height:50px;width:30px;margin-bottom:15px;margin-right:10px;' %>
		<a id="home-btn" href="/"><span>Mporium</span></a>
	</div>
	<div id="logo"> </div>	
	<div class="dropdown">
		<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
			PRODUCTS
		</a>

		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			<a class="dropdown-item" href="#">Apparel</a>
			<a class="dropdown-item" href="#">Stationary</a>
			<a class="dropdown-item" href="#">Events</a>
			<a class="dropdown-item" href="#">Miscellanious</a>
		</div>
	</div>
	<div class="dropdown">
		<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		ORGANIZATIONS
		</a>
		
		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			<a class="dropdown-item" href="#">Academic</a>
			<a class="dropdown-item" href="#">Arts</a>
			<a class="dropdown-item" href="#">FLOs</a>
			<a class="dropdown-item" href="#">Greek Life</a>
			<a class="dropdown-item" href="#">Health/Rec</a>
			<a class="dropdown-item" href="#">International</a>
			<a class="dropdown-item" href="#">Professional</a>
			<a class="dropdown-item" href="#">Political</a>
			<a class="dropdown-item" href="#">Religious</a>
			<a class="dropdown-item" href="#">Service</a>
			<a class="dropdown-item" href="#">Social</a>
			<a class="dropdown-item" href="#">Special Interest</a>
		</div>
	</div>
	<div id="no-drop">
		<a href="marketplace">MARKETPLACE</a>
	</div>
	<div id="no-drop">
		<a href="sign_in">LOG IN</a>
	</div>
	<div class="dropdown">
		<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			SIGN UP
		</a>

		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			<a class="dropdown-item" href="signup_organization">Organization</a>
			<a class="dropdown-item" href="signup_member">Member</a>
		</div>
	</div>

</nav>


<div class="mx-auto container text-center justify-content-center align-items-center" id="container">
	<h1>Student Organization Marketplace</h1>
	<p>Support your favorite on campus organizations with the click of a button!
	<br> Search for products, organizations, & more! <br> Track sales for your organization!
	</p>
	<button class="container text-center">Read More</button>
</div>


<div id="featured">
	<h3>Featured Products</h3>
	
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
		<% x = 0 %>
		<% @products.each do |product| %>
			<% x += 1 %>
			<% if x==1 %>
				<div class="carousel-item active">
			<% else %>
				<div class="carousel-item">
			<% end %>
				<%= product.title %>
			
				<div class="d-block w-100">
				<%= image_tag product.image.variant(
					format: :png,
					resize: "400x400^",
					gravity: "center",
					crop: "400x400+0+0",
				) %>
				</div>
			</div>
		<% end %> 
		
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span class="visually-hidden">Next</span>
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
		</button>
	</div>
</div>