<!DOCTYPE html>
<html>
<head>
<title>Fashion Designer Landing Page</title>
</head>

<body class="home">
	<div id="header">
		<div id="logo">
			<h3><span>Mporium</span></h3>
		</div>

		<nav>
			<a href="#">PRODUCTS</a>
			<a href="#">ORGANIZATIONS</a>
			<a href="sign_in">LOG IN</a>
			<a href="signup">SIGN UP</a>
		</nav>
	</div>
	
	<div class="background1">
	<div id="container">
		<div id="content-container">
			<h1>Student Organization Marketplace</h1>
			<p>Support your favorite on campus organizations with the click of a button!
            Search for products, organizations, & more! Track sales for your organization!
			</p>
			<button>Read More</button>
		</div>
	</div>
</div>
</body>

</html>
