

<div id="nav-header" class="text-left">
	<div id="logo" class="text-left">
		<a id="home-btn" href="/"><span>Mporium</span></a>
	</div>

	<nav>
		<a href="marketplace">MARKETPLACE</a>
		<a href="#">ORGANIZATIONS</a>
		<a href="sign_in">LOG IN</a>
		<div class="dropdown show">
			<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				SIGN UP
			</a>

			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" href="signup_organization">Organization</a>
				<a class="dropdown-item" href="signup_member">Member</a>
			</div>
		</div>
	</nav>
</div>

<div class="mx-auto container text-center justify-content-center align-items-center" id="container">
	<h1>Student Organization Marketplace</h1>
	<p>Support your favorite on campus organizations with the click of a button!
	<br> Search for products, organizations, & more! <br> Track sales for your organization!
	</p>
	<button class="container text-center">Read More</button>
</div>

