<!DOCTYPE html>
<html>
<body>
    <div id = "signup">
        <h1>Sign Up</h1>
    </div>


    <%= form_tag guess_path, :method => 'post' do %>
    <div class="form-group row">
        <label for="guess" class="col-md-2 col-form-label">Guess a letter:</label>
        <input type="text" name="guess" autocomplete="off"
            class="form-control col-md-1"/>
        <input type="submit" value="Guess!" class="col-md-2 btn btn-success"/>
    </div>
    <% end %>
    
</html>
