@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Over+the+Rainbow&family=Raleway:wght@100&family=Rochester&family=Stalemate&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Over+the+Rainbow&family=Raleway:wght@100&family=Rochester&family=Stalemate&family=Zeyada&display=swap');

:root {
    --color1: #500000;
    --color2: white;
}

#signup {
	font-family: Montserrat, sans-serif;
	background-color: var(--color2);
}

#signup_head {
	background-color: var(--color1);
	font-size: 20px;
	color: var(--color2);
}

#signup_form {
	color: black;
}

#signup_form input {
	background-color: white;
	border-radius: 25%;
	border: solid black;
}

#signup_form #submit {
	background-color: var(--color1);
	color: var(--color2);
	border-radius: 25%;
	border: solid black;
}