@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Stalemate&display=swap');
@import "bootstrap";

:root {
    --color1: #500000;
    --color2: white;
}

*{
	font-family: 'Montserrat', sans-serif;
}

// start of new.html.erb >>>>>>>>
#sign {
	background-image: url("kyle23.jpg");
	background-repeat: no-repeat;
}
#login-box {
	padding: 2em;
	margin: 10%;
	border-radius: 25px;
	background-color: var(--color1);
	color: var(--color2);	
}
#login-field {
	margin-left: 15%;
	margin-right: 15%;
}
#login-field label {
	color: var(--color2);
	font-size: 150%;
}
#login-field input {
	font-size: 150%;
	width: 60%
}
#login-submit {
	text-transform: uppercase;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
#login-submit:hover {
	background-color: var(--color1);
	color: var(--color2);
	border: solid white 2px;
}

#err-msg {
	color: var(--color2);
}